*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    scroll-behavior: smooth;
}

header{
    padding: 30px;
    background: linear-gradient(to bottom, #ffe4c4, #ffffff);
}

.titulo{
    color: #8a2be2;
    text-shadow: 2px 5px 6px #deb887; /* deslocamento-x deslocamento-y raio de desfoque cor */
}

nav{
    margin-top: 30px;
}

nav a{
    text-decoration: none;
    color: #000000;
    padding: 0px 50px 10px 0px; /* topo, direita, base, esquerda */
    font-size: 25px;
    position: relative;
    text-shadow: 2px 5px 6px #deb887;
}

nav a::after{
    content: '';
    width: 0%;
    height: 4px;
    background-color: #8a2be2;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.5s ease-in-out;
}

nav a:hover::after{
    width: 100%;
}

section{
    width: 100%;
    height: 500px;
    padding: 40px 4%;
    background: linear-gradient(to bottom, #ffe4c4, #ffffff);
    color: #d2691a;
    font-size: 30px;
}

section h1{
    margin-bottom: 20px;
    text-shadow: 2px 5px 6px #deb887;
}

.sectionImage1{
    width: 100%;
    height: 500px;
    padding: 40px 4%;
    color: #141414;
    text-shadow: 2px 5px 6px #000000;
    border-radius: 20px;
    background-image: url(./img/imagem1.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

.sectionImage1 h1{
    color: #ffffff;
    font-size: 60px;
    font-weight: 700;
    margin-top: 150px;
}

.sectionImage2{
    width: 100%;
    height: 500px;
    padding: 40px 4%;
    border-radius: 20px;
    background-image: url(./img/imagem2.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

.sectionImage3{
    width: 100%;
    height: 500px;
    padding: 40px 4%;
    border-radius: 20px;
    background: url(./img/imagem3.jpg) no-repeat center center fixed;
    background-size: cover;
}

.sectionImage4{
    width: 100%;
    height: 500px;
    padding: 40px 4%;
    border-radius: 20px;
    background: url(./img/imagem4.jpg) no-repeat center center fixed;
    background-size: cover;
}

footer{
    background: linear-gradient(to top, #ffe4c4, #ffffff);
    padding: 30px;
    font-family: 20px;
    color: #d2691a;
}